.wetherBg{
  height: 50vh;  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 200px;
}
.weatherCity{
 font-size: 35px;
 padding: 15px;
}
.weatherTemp{
  font-size:55px;
  font-weight: 700;
}